*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, video, picture, svg, canvas {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2 {
  line-height: 1.1;
}

input, button {
  border: none;
  outline: 2px solid transparent;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.homepage {
  min-height: 100vh;
}
.homepage nav .nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px 10px 50px;
}
.homepage nav .nav_container .nav_title {
  display: flex;
}
.homepage nav .nav_container .nav_title img {
  width: 37px;
  margin-right: 20px;
}
.homepage nav .nav_container .nav_items a {
  color: rgb(15, 15, 15);
  font-size: 12px;
}
.homepage .homepage_title {
  display: flex;
  margin: 90px 0 0 106px;
}
.homepage .homepage_title .homepage_text {
  margin-right: 35px;
}
.homepage .homepage_title .homepage_text .homepage_body_title {
  margin-bottom: 30px;
}
.homepage .homepage_title .homepage_text .homepage_body {
  font-size: 12px;
}
.homepage .homepage_title .homepage_text .row .col {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.homepage .homepage_title .homepage_text .row .col img {
  width: 50px;
  padding: 15px 0 0 15px;
  padding-bottom: 11px;
}
.homepage .homepage_title .homepage_text .row .col p {
  text-align: center;
  font-size: 12px;
  padding-left: 12px;
  color: black;
}
.homepage .homepage_title .homepage_text .row .col .user {
  padding-left: 14px;
}
.homepage .homepage_title .homepage_text .row .col:hover {
  border-radius: 5px;
  transform: scale(1.1);
  transition: all 0.8s ease;
  box-shadow: 5px 5px 5px 0px gray;
}
.homepage .homepage_title .homepage_hero {
  margin-left: 65px;
}
.homepage .homepage_title .homepage_hero img {
  width: 500px;
}

.dev {
  min-height: 100vh;
}
.dev .dev_title {
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}
.dev .dev_body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80vh;
}
.dev .dev_body .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dev .dev_body .row .col .card {
  border-radius: 50%;
  margin-bottom: 12px;
}
.dev .dev_body .row .col .card img {
  border-radius: 50%;
  width: 160px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.dev .dev_body .row .col .card_body {
  text-align: center;
}

.card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.card .card-body {
  display: flex;
  align-items: center;
}
.card .container {
  padding: 52px;
  border-radius: 12px;
  box-shadow: 2px 0px 25px -10px;
  background-color: white;
}
.card .card-title {
  position: relative;
  bottom: 18px;
}
.card .uname, .card .pword {
  margin-bottom: 10px;
}
.card .pword {
  margin-bottom: 15px;
}
.card .username, .card .password {
  padding-bottom: 2px;
  font-size: 17px;
}
.card .uname-control, .card .pword-control {
  width: 275px;
  height: 35px;
  padding-left: 10px;
}
.card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.card .card-body {
  display: flex;
  align-items: center;
}
.card .container {
  padding: 52px;
  border-radius: 12px;
  box-shadow: 2px 0px 25px -10px;
  background-color: white;
}
.card .card-title {
  position: relative;
  bottom: 18px;
}
.card .uname, .card .pword {
  margin-bottom: 10px;
}
.card .pword {
  margin-bottom: 15px;
}
.card .username, .card .password {
  padding-bottom: 2px;
  font-size: 17px;
}
.card .uname-control, .card .pword-control {
  width: 275px;
  height: 35px;
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */